body {
    line-height: 1.75em;
    background: #fafdd2;
    background-image: url('1.jpg');
    background-size: 100%;
    font-size: 11.5pt;
    color: #040404;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-family: "Segoe UI Black", sans-serif;
    color: #22339d;
    margin-bottom: 1em;
    text-shadow: #c1a663 0 0 2px;
    text-align: left;
}

h1, h2, h4 {
    font-family: "Segoe UI Black", sans-serif;
    color: #22339d;
    margin-bottom: 1em;
    text-shadow: #c1a663 0 0 2px;
    text-align: center;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

table {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background: #1a1915; /* Цвет фона таблицы */
    color: #d6bc83; /* Цвет текста */
}
th {
    padding: 10px 20px;
    background: #777fac;
    color: #FF9C00;
    border-right: 2px solid;
    font-size: 0.9em;
}
th:first-child {
    text-align: left;
}
th:last-child {
    border-right: none;
}
td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}
td:first-child {
    border-left: 2px solid #56433D;
    border-right: none;
}
td:nth-child(2){
    text-align: left;
}

#header {
    height: 130px;
    padding: 40px;
    position: relative;
}

#menu {
    line-height: 57px;
    position: absolute;
    right: 40px;
    top: 76px;
    height: 57px;
    font-family: "Open Sans", sans-serif;
}

/*#menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #8d8878;
    font-size: 1.2em;
}*/
/*
#menu ul li {
    display: floating;
    padding: 10px 10px 10px 10px;
    margin: 0 8px 0 8px;
    list-style-type: none;
    vertical-align: middle;
    text-align: center;
}*/

#menu a:hover {
    color: #06050c;
}

.li:hover {
    border: solid 1px #BFB5A4;
    font-color: #ff0d21;
    box-shadow: inset 0px 0px 0px 1px #110d07;
    text-shadow: 1px 1px 0px rgba(17, 13, 7, 0.9);
    background: #7a7788 linear-gradient(to top, #7a7788 50%, #8d877e);

}

.deleteButton {
    -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
    -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
    background: -moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: -webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: -o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: -ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6', GradientType=0);
    background-color: #eae0c2;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.deleteButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
    background: -moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: -webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: -o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: -ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2', GradientType=0);
    background-color: #ccc2a6;
}

.deleteButton:active {
    position: relative;
    top: 1px;
}


.addProductButton {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23', GradientType=0);
    background-color: #ffec64;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 6px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.addProductButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0);
    background-color: #ffab23;
}

.addProductButton:active {
    position: relative;
    top: 1px;
}

