body {
    line-height: 1.75em;
    background: #fafdd2;
    background-image: url('1.jpg');
    font-size: 11.5pt;
    color: #040404;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
}

h2, h3, h4 {
    font-family: "Segoe UI Black", sans-serif;
    color: #ae0c0f;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

table {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
th {
    padding: 10px 20px;
    background: #523128;
    color: #F9C941;
    border-right: 2px solid;
    font-size: 0.9em;
}
th:first-child {
    text-align: left;
}
th:last-child {
    border-right: none;
}
td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}
td:first-child {
    border-left: 2px solid #56433D;
    border-right: none;
}
td:nth-child(2){
    text-align: left;
}